@font-face {
    font-family: "Kanit-Regular";
    src: url("../fonts/Kanit-Regular.ttf"); format("truetype");
}

body {
    font-family: Kanit-Regular;
}

:root {
    --height_banner_vertical: calc((100vh - 130px) * 0.5);
    --height_banner_horizontal: calc((100vh - 150px) * 0.25);

    --width_banner_vertical: calc((100vw - 330px) * 0.25);
    --width_banner_horizontal: calc((100vw - 290px) * 0.5);
}
.left__list {
    position: absolute;
}
.left__list a {
    text-decoration: none;
    color: black;
}
.top__list {
    margin-left: 250px;
    position: relative;
}
.top__list a {
    color: black;
}
.container2 ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-top: 5px;
}
.container2 {
    display: flex;
}
.search form {
    padding-top: 20px;
}
.container1 {
    padding-top: 25px;
    height: 100vh;
    width: 250px;
    padding-left: 50px;
}
.container1__list ul {
    list-style-type: none;
    padding-left: 5px;
}
.container1__list ul li {
    margin-bottom: 10px;
}
.container1__bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    display: flex;
}
.img_help {
    width: 28px;
    height: 28px;
}
.container1__h2 {
    padding-top: 30px;
    margin-bottom: 30px;
}
.container2__right_side {
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 20px;
}
.container2__search, .container2__search_logo, .container2__basket, .container2__person {
    padding-top: 20px;
    margin-left: 10px;
}
.container2__search_logo {
    padding-left: 20px;
}
.container2__basket {
    margin-left: 30px;
}
.container2__search input {
    color: darkgrey;
    border-radius: 9px;
}
.c1 {
    display: flex;
    height: 30px;
}




.banners {
    margin-left: 250px;
}
.banner__horizontal_1 {
    background-image: url(../assets/images/1.png);
    width: var(--width_banner_horizontal);
    height: var(--height_banner_horizontal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}
.bh1_text {
    justify-content: center;
    align-items: center
}
.banner__horizontal_2 {
    width: var(--width_banner_horizontal);
    height: var(--height_banner_horizontal);
    background-image: url(../assets/images/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__vertical_1 {
    width: var(--width_banner_vertical);
    height: var(--height_banner_vertical);
    background-image: url(../assets/images/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__vertical_2 {
    width: var(--width_banner_vertical);
    height: var(--height_banner_vertical);
    background-image: url(../assets/images/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__vertical_3 {
    width: var(--width_banner_vertical);
    height: var(--height_banner_vertical);
    background-image: url(../assets/images/5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__vertical_4 {
    width: var(--width_banner_vertical);
    height: var(--height_banner_vertical);
    background-image: url(../assets/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__horizontal_3 {
    width: var(--width_banner_horizontal);
    height: var(--height_banner_horizontal);
    background-image: url(../assets/images/7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.banner__horizontal_4 {
    width: var(--width_banner_horizontal);
    height: var(--height_banner_horizontal);
    background-image: url(../assets/images/8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 9px;
}
.part_1, .part_2 {
    display: flex;
}
.box__vertical {
    display: flex;
}
.banner__horizontal_1, .banner__horizontal_2, .banner__vertical_1, .banner__vertical_2, .banner__vertical_3, .banner__vertical_4,
.banner__horizontal_3, .banner__horizontal_4{
    margin: 10px;
}
.like {
    float: right;
    padding: 15px 15px;
}
.banner__horizontal_3, .banner__horizontal_4 {
    display: flex;
    align-items: center;
}
.bh3_text h2 {
    color: blue;
}
.bh4_text h2 {
    color: red;
}
.bh4_text, .bh3_text {
    padding-left: 15px;
}

